.vscode/
.mypy_cache/
*.egg-info/
__pycache__/
*.pyc

/bin/

edit.com
edit.hlp
qbasic.exe
qbasic.hlp
aqCHARTS/aq_temp/ANGDAT.DAT
aqCHARTS/aq_temp/PDAT.DAT
aqCHARTS/aq_temp/IDENTITY.TIE
aqCHARTS/aq_temp/SWI.SWI
CATDIRS.MS
switch.1.sw0
aqCHARTS/aq_temp/ANGDAT.1.DAT
aqCHARTS/aq_temp/PDAT.1.DAT
aqCHARTS/aq_temp/IDENTITY.1.TIE
bufferdisplay.txt
env/
variables.txt
LICENSE
