edit.com
edit.hlp
qbasic.exe
qbasic.hlp
aqCHARTS/aq_temp/ANGDAT.DAT
aqCHARTS/aq_temp/PDAT.DAT
aqCHARTS/aq_temp/IDENTITY.TIE
aqCHARTS/aq_temp/SWI.SWI
CATDIRS.MS
bin/
switch.1.sw0
aqCHARTS/aq_temp/ANGDAT.1.DAT
aqCHARTS/aq_temp/PDAT.1.DAT
aqCHARTS/aq_temp/IDENTITY.1.TIE
.vscode/
__pycache__/
bufferdisplay.txt
env/
*.pyc
variables.txt
read_astro.py
A.bat
CHOICE.mas
IDENTITY.tie
MASTER.mas
aqDRAW.bas
aqTIE.bas
astrap.bat
switch.sw0
choice.sw0
LICENSE
.mypy_cache/
/*.egg-info/
